/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #63278b;
	--ion-color-primary-rgb: 99,39,139;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #57227a;
	--ion-color-primary-tint: #733d97;

	--ion-color-secondary: #cd64e3;
	--ion-color-secondary-rgb: 205,100,227;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #b458c8;
	--ion-color-secondary-tint: #d274e6;

	--ion-color-tertiary: #f9ba34;
	--ion-color-tertiary-rgb: 249,186,52;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #dba42e;
	--ion-color-tertiary-tint: #fac148;

	--ion-color-success: #2dc7d2;
	--ion-color-success-rgb: 45,199,210;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28afb9;
	--ion-color-success-tint: #42cdd7;

	--ion-color-warning: #ff8800;
	--ion-color-warning-rgb: 255,136,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e07800;
	--ion-color-warning-tint: #ff941a;

	--ion-color-danger: #d1005b;
	--ion-color-danger-rgb: 209,0,91;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #b80050;
	--ion-color-danger-tint: #d61a6b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}